.App {
	text-align: center;
}

ul {
	list-style: none;
}

.rx-list,
.rx-list-labels {
	padding: 0;
}

.rx-list-item,
.rx-list-labels {
	display: flex;
	justify-content: space-evenly;
	flex-basis: auto;
}
